.wrapper {
  border-bottom: 1px solid hsl(var(--border));
  z-index: 50;
  transition: all 200ms ease-out;
  position: sticky;
  width: 100%;
  top: 0;
  height: 81px;
  background-color: hsl(var(--background));
}
.wrapper.start {
  height: 225px;
}
@media (min-width: 1280px) {
  .wrapper.start {
    height: 168px;
  }
}

.header {
  padding-left: 24px;
  padding-right: 24px;
  height: 80px;
  display: flex;
  align-items: center;
  transition: all 200ms ease-out;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: hsl(var(--background));
  transition: all 200ms ease-out;
  height: 80px;
  z-index: -10;
}
.header.active::before {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  height: 225px;
}
@media (min-width: 1280px) {
  .header.active::before {
    height: 168px;
  }
}
@media (min-width: 540px) {
  .header {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 1025px) {
  .header {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.toggleSearch {
  position: absolute;
  z-index: 20;
  top: 14px;
  left: 290px;
  transform: translateX(-50%);
  padding-left: 6px;
  padding-right: 6px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: var(--background);
  transition: all 200ms ease-out;
  border: 1px solid hsl(var(--border));
  border-radius: 9999px;
  opacity: 1;
  visibility: visible;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.06);
  opacity: 1;
  visibility: visible;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.062745098);
}
@media (min-width: 1025px) {
  .toggleSearch {
    left: 335px;
  }
}
@media (min-width: 1280px) {
  .toggleSearch {
    left: 50%;
  }
}
.toggleSearch:hover {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.19);
}
.toggleSearch.active {
  top: 136px;
  left: 50%;
  width: fit-content;
  padding-left: 8px;
  padding-right: 8px;
  z-index: -10;
  opacity: 0;
  visibility: hidden;
}
@media (min-width: 1280px) {
  .toggleSearch.active {
    top: 80px;
  }
}
.toggleSearch .button {
  height: 48px;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 200ms ease-out;
}
.toggleSearch .button:hover {
  background-color: hsl(var(--background));
}
.toggleSearch .button.active {
  height: 64px;
  padding-left: 96px;
  padding-right: 96px;
}
.toggleSearch .button_search {
  transition: all 200ms ease-out;
  min-width: 36px;
  min-height: 36px;
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggleSearch .button_search.active {
  min-width: 48px;
  min-height: 48px;
}

.search {
  position: absolute;
  left: 460px;
  transform: translateX(-50%);
  transition: all 200ms ease-out;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 100%;
  top: -64px;
  opacity: 0;
  visibility: hidden;
}
@media (min-width: 1280px) {
  .search {
    left: 50%;
  }
}
.search.active {
  top: 56px;
  z-index: 20;
  max-width: 56rem;
  left: 50%;
  opacity: 1;
  visibility: visible;
}
@media (min-width: 1280px) {
  .search.active {
    top: 0;
  }
}

.tabs {
  @apply scale-75 transition-all duration-200 ease-out w-full max-w-4xl px-6;
  opacity: 0;
  visibility: hidden;
}
@media (min-width: 540px) {
  .tabs {
    @apply px-10;
  }
}
@media (min-width: 1025px) {
  .tabs {
    @apply px-0;
  }
}
.tabs.active {
  @apply scale-100;
  opacity: 1;
  visibility: visible;
}
.tabs_content {
  @apply border rounded-full shadow-md;
}
.tabs_content.click {
  @apply bg-accent shadow-none;
}
.tabs_content_item {
  width: 100%;
  height: 4rem;
}
.tabs_content_item.active {
  width: 100%;
}

.filterItem {
  @apply relative w-full h-full flex items-center cursor-pointer px-6;
}
.filterItem::after {
  content: "";
  @apply absolute top-0 left-0 h-full w-full rounded-full hover:bg-muted-foreground/10;
}
.filterItem.click {
  @apply bg-background rounded-full shadow-md z-10;
}
.filterItem.click::after {
  @apply hover:bg-transparent;
}
.filterItem.hover::after {
  @apply hover:bg-transparent;
}
.filterItem.hoverNeighborLeft::after {
  @apply rounded-l-none;
  width: calc(100% + 50px);
  left: -50px;
}
.filterItem.hoverNeighborRight::after {
  @apply rounded-r-none;
  width: calc(100% + 50px);
  left: 0;
}

.searchButton {
  @apply absolute w-12 h-12 right-2 z-10;
}
.searchButton.click {
  @apply w-[115px];
}