.wrapper {
  border-bottom: 1px solid hsl(var(--border));
  z-index: 50;
  transition: all 200ms ease-out;
  position: sticky;
  width: 100%;
  top: 0;
  height: 81px;
  background-color: hsl(var(--background));

  &.start {
    height: 225px;

    @media (min-width: 1280px) {
      height: 168px;
    }
  }
}

.header {
  padding-left: 24px;
  padding-right: 24px;
  height: 80px;
  display: flex;
  align-items: center;
  transition: all 200ms ease-out;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: hsl(var(--background));
    transition: all 200ms ease-out;
    height: 80px;
    z-index: -10;
  }

  &.active {
    &::before {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      height: 225px;

      @media (min-width: 1280px) {
        height: 168px;
      }
    }
  }

  @media (min-width: 540px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: 1025px) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.toggleSearch {
  position: absolute;
  z-index: 20;
  top: 14px;
  left: 290px;
  transform: translateX(-50%);
  padding-left: 6px;
  padding-right: 6px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: var(--background);
  transition: all 200ms ease-out;
  border: 1px solid hsl(var(--border));
  border-radius: 9999px;
  opacity: 1;
  visibility: visible;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.06);
  opacity: 1;
  visibility: visible;
  box-shadow: 0px 1px 5px #00000010;

  @media (min-width: 1025px) {
    left: 335px;
  }

  @media (min-width: 1280px) {
    left: 50%;
  }

  &:hover {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.19);
  }

  &.active {
    top: 136px;
    left: 50%;
    width: fit-content;
    padding-left: 8px;
    padding-right: 8px;
    z-index: -10;
    opacity: 0;
    visibility: hidden;

    @media (min-width: 1280px) {
      top: 80px;
    }
  }

  .button {
    height: 48px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 200ms ease-out;

    &:hover {
      background-color: hsl(var(--background));
    }

    &.active {
      height: 64px;
      padding-left: 96px;
      padding-right: 96px;
    }
  }
  .button_search {
    transition: all 200ms ease-out;
    min-width: 36px;
    min-height: 36px;
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      min-width: 48px;
      min-height: 48px;
    }
  }
}
