.categories {
  @apply flex items-center overflow-x-auto gap-x-9;
  &::-webkit-scrollbar {
    @apply hidden;
  }
  width: calc(100vw - 528px);
}

.prev {
  @apply flex items-center pb-1 bg-background absolute left-0 top-1/2 -translate-y-1/2 z-10;
  height: calc(100% + 2px);
  box-shadow: 20px 0px 16px 8px #ffffff;
}

.next {
  @apply h-full flex pb-1 items-center bg-background absolute right-0 top-1/2 -translate-y-1/2 z-10;
  height: calc(100% + 2px);
  box-shadow: -20px 0px 16px 8px #ffffff;
}

.categoryItem {
  @apply relative rounded-none flex flex-col py-[37px] px-1;
  &:active {
    @apply scale-90 transition-transform ease-in-out;
  }
  &::after {
    @apply absolute -translate-x-1/2 left-1/2 bottom-0 bg-foreground/10 rounded-none opacity-0 hover:opacity-100;
    content: "";
    width: calc(100% - 8px);
    height: 2px;
  }
}

.categoryItemActive {
  &::after {
    @apply opacity-100 bg-foreground;
  }
}

@media (min-width: 1380px) {
  .categories {
    width: calc(100vw - 578px);
  }
}
