.container {
  max-width: 1380px;
  margin: 0 auto;
}

.products {
  @apply grid grid-cols-4 gap-6;
}

@media (min-width: 1580px) {
  .container {
    max-width: calc(100% - 8rem);
  }
  .products {
    @apply grid-cols-6;
  }
}
