.content {
  @apply absolute w-full max-w-md bg-background mt-3 px-1 right-0 transition-all duration-200 ease-in-out;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2rem;
  margin-right: 40px;
  @media (min-width: 1025px) {
    margin-right: 0;
  }
}

.item {
  position: relative;
  width: calc(100% - 48px);
  &.click {
    width: calc(100% - 134px);
  }
  &_title {
    @apply font-medium;
    font-size: 13px;
  }
  &_value {
    @apply text-foreground font-medium text-sm overflow-hidden whitespace-nowrap text-ellipsis;
    &.click {
      @apply overflow-hidden whitespace-nowrap text-ellipsis;
    }
  }
}
