.container {
  width: 100%;
  margin: 0 auto;
  @apply px-6;
}

.wrapper {
  @apply grid grid-cols-1 gap-6;
}

.listing {
  @apply w-full;
  &__photo {
    @apply rounded-xl bg-accent overflow-hidden relative;
    width: 100%;
    height: 80vw;
  }
}

@media (min-width: 540px) {
  .container {
    @apply px-10;
  }
  .wrapper {
    @apply grid-cols-2 gap-6;
  }
  .listing {
    &__photo {
      height: calc(80vw / 2);
    }
  }
}

@media (min-width: 768px) {
  .wrapper {
    @apply grid-cols-3 gap-6;
  }
  .listing {
    &__photo {
      height: calc(80vw / 3);
    }
  }
}

@media (min-width: 1025px) {
  .container {
    @apply px-20;
  }
  .wrapper {
    @apply grid-cols-4 gap-6;
  }
  .listing {
    &__photo {
      height: calc(80vw / 4);
    }
  }
}

@media (min-width: 1580px) {
  .wrapper {
    @apply grid-cols-6;
  }
  .listing {
    &__photo {
      height: calc(80vw / 6);
    }
  }
}
